<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_04a6252e6d3ed8988bb06010398b859f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_04a6252e6d3ed8988bb06010398b859f" ></div>
        
</body>
<script>
    
    
            var map_04a6252e6d3ed8988bb06010398b859f = L.map(
                "map_04a6252e6d3ed8988bb06010398b859f",
                {
                    center: [129.82313961482282, 110.92837635510426],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9bf8f4a177c9f1f02035e3ad525e74d7 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_9bf8f4a177c9f1f02035e3ad525e74d7.addTo(map_04a6252e6d3ed8988bb06010398b859f);
        
    
            var heat_map_a13aaab11b3fefac6833f2cbc6f74797 = L.heatLayer(
                [[18.613312418372672, 78.91895468749999, 3109], [20.66194675523901, 76.63379843749999, 2145], [801.0, 428.0, 0], [19.258141204773576, 78.3742690874662, 8333], [19.420116523734333, 80.13859955704315, 5019], [19.365076002364663, 81.56205718909005, 3172], [20.291822706667, 79.8689699004954, 6751], [660.0, 164.0, 0], [21.700215699589943, 75.47639069703757, 9810], [21.89658028026217, 73.64964701825144, 4314], [22.176198890543635, 73.20058085614207, 12209], [22.156283367832668, 73.17311503582957, 2711], [21.161121143316915, 79.07251014999999, 5113]],
                {"blur": 20, "gradient": {"0.4": "blue", "0.65": "lime", "1": "red"}, "maxOpacity": 0.6, "maxZoom": 18, "minOpacity": 0.2, "radius": 15}
            );
        
    
            heat_map_a13aaab11b3fefac6833f2cbc6f74797.addTo(map_04a6252e6d3ed8988bb06010398b859f);
        
</script>
</html>